meta(charset='UTF-8')
link(rel='stylesheet', href='/css/style.css')
script(src='/js/jquery-2.1.4.min.js')
link(type='text/css',rel='stylesheet',href='http://code.jquery.com/ui/1.10.3/themes/cupertino/jquery-ui.min.css')
script(src='http://code.jquery.com/ui/1.10.3/jquery-ui.min.js')
script(src='/js/customupload.js')
title= title
